/* @font-face {
    font-family: 'Caprasimo';
    src: url('fonts/Caprasimo.woff2') format('woff2'),
             url('fonts/Caprasimo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: "Caprasimo", sans-serif;
} */

* {
    cursor: url('images/cherry.png'), auto;
}

body {
    background-image: url("images/wpclouds2.png");
    background-repeat: repeat;
}

.dynapuff-regular {
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}